:root{
    --azul-bonito1: #1e90ff;
    --azul: #1e90ff;
    --azul-atual: #00aff0;
    --azulmaisclaro: #42c0ee;
    --verde: #00b48c;
    --verdeclaro: #5edabf;
    --amarelo: #f8b32a;
    --vermelho: #ed323d;
    --vermelhoclaro: #ff767f;
    --preto: #282828;
    --margem: 15px;
    --margem-menor: 12px;
    --margem-minuscula: 7px;
    --tamanhoquadrado: 700px;
    --borderradius: 5px;
    --borda-branca: 1px solid white;
    --fontecorpo: 'Josefin Sans';
}
.btn-warning{
    color: white !important;
}
.bg-primary{
    background-color: var(--azul)!important;
}
.bg-danger{
    background-color: var(--vermelho)!important;
}
.bg-warning{
    background-color: var(--amarelo)!important;
}
.btn-success{
    background-color: var(--verde) !important;
    border-color: none !important;
}