:root{
    --azul: #0281c6;
    --azulclaro: #00aff0;
    --azulmaisclaro: #42c0ee;
    --verde: #00b48c;
    --verdeclaro: #5edabf;
    --amarelo: #f8b32a;
    --vermelho: #ed323d;
    --vermelhoclaro: #ff767f;
    --preto: #282828;
    --margem: 15px;
    --margem-menor: 12px;
    --margem-minuscula: 7px;
    --tamanhoquadrado: 700px;
    --borderradius: 5px;
    --borda-branca: 1px solid white;
    --fontecorpo: 'Josefin Sans';
}