*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.5;
}
#caixa{
    margin: 5px;
    height: var(--tamanhoquadrado);
    width: var(--tamanhoquadrado);
    background: var(--azulclaro);
    display: grid;
    grid-template-areas:'i i'
                        'n s'
                        'b b';
    grid-template-columns: 50% 50%;
    grid-template-rows: 65fr 5fr 30fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderradius);
    overflow: hidden;
}
#inputs{grid-area: i;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#esqlink{grid-area: s;}
#nplink{grid-area: n;}
#boxbtn{
    height: 100%;
    grid-area: b;  
    background: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnloga{
    height: 80px;
    width: 200px;
    font-size: 2em;
    background: var(--verde);    
}
#btnloga:hover{
    cursor: pointer;
    background: var(--verdeclaro);
}
#btnloga:active{
    transform: scale(90%);
}
input{
    border: none;
    border-radius: var(--borderradius);
}
::placeholder{
    font-weight:300;
}
td{
    align-items: center;
}
#inputcpf,#inputsenha{
    padding: 0 50px 0 10px;
    font-size: 30px;
    background: white;
    color: var(--preto);
    width: auto;
    height: 50px;
    text-align: center;
}
#inputcpf:focus,#inputsenha:focus{
    background: rgb(210,210,210);
    outline: none;
}
#inputsenha::before{
    content:'';
}
label, #btnloga, input, #esqlink, #nplink{
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}
label{
    font-size: 25px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    display: none;
}
ion-icon{
    position: relative;
    color: var(--preto);
    font-size: 1.5em;
    right: 40px;
}
#esqlink, #nplink{
    display: inline!important;
    color: var(--verdeclaro);
    font-size: 20px;
    justify-self: center;
    text-align: center;
}
a{
    display:none;
}
@media screen and (max-width: 700px){
    #esqlink, #nplink{
        font-size:15px;
    }
    #inputcpf,#inputsenha{
        padding: 0 50px 0 10px;
        font-size: 30px;
        background: white;
        color: var(--preto);
        width: 100%;
        height: 50px;
    }
    #btnloga{
        height: 50px;
        width: 150px;
        font-size: 1.5em;
    }
    #caixa{
        height:calc(var(--tamanhoquadrado) - 200px);
    }
}